<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"><!-- layout文件路径-->
<head>
    <title>功能管理</title>
    <link rel="stylesheet" th:href="@{/css/authorityManager.css}"/>

</head>
<body style="background-color: #F2F2F2;">
<div layout:fragment="content">

    <div>
        <a style="margin-left: 5px" href="javaScript:addAuthority()" target="_blank" class="layui-btn layui-btn-lg">
            添加权限
        </a>
        <a href="javaScript:addFeature()" target="_blank" class="layui-btn layui-btn-lg">
            添加功能
        </a>
    </div>

    <div class="wrap">

        <div id="authorityList">

            <div class="layui-card">
                <div class="layui-card-header">
                    权限列表
                </div>
                <div class="layui-card-body">

                    <div class="layui-row" th:each="a:${authorityList}">
                        <div class="layui-col-md9" th:text="${a.authorityName}"></div>
                        <div class="layui-col-md3">
                            <div th:aid="${a.authorityId}" class="layui-btn-group">
                                <button title="编辑" th:onclick="'atfSetting('+${a.authorityId}+')'"
                                        class="layui-btn layui-btn-primary layui-btn-xs">
                                    <i class="layui-icon">&#xe642;</i>
                                </button>
                                <button title="删除" onclick="deleteAuthority($(this).parent().attr('aid'),this)"
                                        class="layui-btn layui-btn-danger layui-btn-xs">
                                    <i class="layui-icon">&#xe640;</i>
                                </button>
                            </div>
                        </div>
                        <hr/>
                    </div><!--循环结束-->
                </div>
            </div>

        </div>

        <div id="featureList">

            <div class="layui-card">
                <div class="layui-card-header">功能列表</div>
                <div class="layui-card-body">
                    <div class="layui-row" th:each="f:${featureList}">
                        <div class="layui-col-md9" th:text="${f.featureName}"></div>
                        <div class="layui-col-md3">
                            <div th:fid="${f.featureId}" class="layui-btn-group">
                                <button title="删除" onclick="deleteFeature($(this).parent().attr('fid'),this)"
                                        class="layui-btn layui-btn-danger layui-btn-xs">
                                    <i class="layui-icon">&#xe640;</i>
                                </button>
                            </div>
                        </div>
                        <hr/>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!--修改权限对应的功能模板-->
    <script type="text/html" id="atfSetting">
        <form class="layui-form">
            <div style="margin-bottom: 3px" th:each="f:${featureList}">
                <input type="checkbox" name="atfs" lay-skin="primary" th:title="${f.featureName}">
            </div>
        </form>
    </script>

</div>

<div layout:fragment="javaScript">
    <script type="text/javascript" th:src="@{/js/authorityManager.js}"></script>
</div>
</body>
</html>
